****Проект предобработка данных - Исследование надежности заемщиков****

### Описание проекта

В данном исследовании заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Цель исследования** - выяснить влияет ли статус человека на возвращаемость кредита в срок

**Задачи исследования:**

1. Ознакомиться с данными;

2. Выполнить предобработку;

3. Выяснить влияет ли количество детей на возврат кредита;

4. Выяснить влияет ли семейное положение на возврат кредита;

5. Выяснить влияет ли уровень дохода на возврат кредита;

6. Выяснить влияет ли цель кредита на его возврат в срок;

### Описание данных

Файл `data.csv`:


- `children` — количество детей в семье;


- `days_employed` — общий трудовой стаж в днях;


- `dob_years` — возраст клиента в годах;


- `education` — уровень образования клиента;


- `education_id` — идентификатор уровня образования;


- `family_status` — семейное положение;


- `family_status_id` — идентификатор семейного положения;


- `gender` — пол клиента;


- `income_type` — тип занятости;


- `debt` — имел ли задолженность по возврату кредитов;


- `total_income` — ежемесячный доход;


- `purpose` — цель получения кредита;

### Загрузка и изучение данных.

In [1]:
# Импортирую библиотеки
import pandas as pd

In [2]:
# Загружаю данные
debtors = pd.read_csv('data.csv')

In [3]:
# Вывожу первые 20 строк
debtors.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
# Вывожу основную информацию
debtors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [5]:
debtors.duplicated().sum()

54

***Выводы***

Я ознакомилась с данными. В датсете `debtors` всего 21 525 строк и 12 столбцв. 

Уже на данном этапе видны проблемы, которые необходимо устранить на этапе предобработке данных:

- Некорректный тип данных `total_income`;


- Наличие пропусков в столбцах:
    - `days_employed` - 2 174 пропуска;
    - `total_income` - 2 174 пропуска;


- Наличие 54 явных дубликатов;


- Необходима проверка на неявные дубликаты;


- Необходима проверка на артефакты;


- Необходимо создать дополнительные столбцы с категориальными переменными.


Для дальнейшей работы необходио провести предобработку данных. Иначе исследование будет некорректным

### Предобработка данных

#### Удаление пропусков

In [6]:
# Вывожу количество пропущенных значений для каждого столбца
debtors.isna().sum().sort_values(ascending=False)

days_employed       2174
total_income        2174
children               0
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
purpose                0
dtype: int64

Пропуски в days_employed обработаю позднее. Другой столбец с пропущенными значениями — total_income — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца income_type

In [7]:
for t in debtors['income_type'].unique():
    debtors.loc[(debtors['income_type'] == t) & (debtors['total_income'].isna()), 'total_income'] = \
    debtors.loc[(debtors['income_type'] == t), 'total_income'].median()

#### Обработка аномальных значений

В данных могут встречаться артефакты  — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце days_employed

In [8]:
debtors['days_employed'] = debtors['days_employed'].abs()

Выведу медианное значение трудового стажа days_employed в днях

In [9]:
debtors.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому на данном этапе их нужно оставить без изменений.

Выведу перечень уникальных значений столбца `children`

In [10]:
debtors['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце children есть два аномальных значения

In [11]:
debtors = debtors[(debtors['children'] != -1) & (debtors['children'] != 20)]

In [12]:
# Проверка
debtors['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

#### Удаление пропусков (days_employed)

Заполню пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`

In [13]:
for t in debtors['income_type'].unique():
    debtors.loc[(debtors['income_type'] == t) & (debtors['days_employed'].isna()), 'days_employed'] = \
    debtors.loc[(debtors['income_type'] == t), 'days_employed'].median()

In [14]:
# Проверка
debtors.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

#### Изменение типов данных

In [15]:
debtors['total_income'] = debtors['total_income'].astype(int)

#### Обработка дубликатов

В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведу их к нижнему регистру.

In [16]:
debtors['education'] = debtors['education'].str.lower()

In [17]:
debtors.duplicated().sum()

71

Дубликатов стало больше. Их необходимо удалить.

In [18]:
debtors = debtors.drop_duplicates()

#### Категоризация данных

На основании диапазонов, указанных ниже, необходимо создать в датафрейме debtors столбец total_income_category с категориями:

- 0–30000 — 'E';
- 30001–50000 — 'D';
- 50001–200000 — 'C';
- 200001–1000000 — 'B';
- 1000001 и выше — 'A'.



Например, кредитополучателю с доходом 25000 нужно назначить категорию 'E', а клиенту, получающему 235000, — 'B'.

In [19]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [20]:
debtors['total_income_category'] = debtors['total_income'].apply(categorize_income)

Выведу уникальные значения цели кредита

In [21]:
debtors['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Нужно создать функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.

In [22]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [23]:
debtors['purpose_category'] = debtors['purpose'].apply(categorize_purpose)

### Исследование данных

#### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [24]:
repayment_by_parents = debtors.pivot_table(index=['children'], values='debt', aggfunc={'sum', 'count'}) 
repayment_by_parents['share'] = round(repayment_by_parents['sum'] / repayment_by_parents['count'],3)
repayment_by_parents.sort_values(by='share', ascending=True)

          count   sum  share
children
5             9     0  0.000
0         14091  1063  0.075
3           330    27  0.082
1          4808   444  0.092
2          2052   194  0.095
4            41     4  0.098

***Вывод***

Зависимость между количеством детей и возвратом кредита в срок существует. Семьи с тремя и пятью детьми чаще возвращают кредиты вовремя, также как и люди без детей. Это может быть связано с тем, что семьи с пятью детьми обычно более ответственны и организованы, а люди без детей имеют больше финансовых возможностей для погашения кредитов, так как не несут дополнительных расходов на содержание детей. Что касается семей с одним или двумя детьми, они демонстрируют примерно одинаковый уровень просрочки по кредитам. При этом семьи с двумя детьми допускают такое чаще. Наибольший процент непогашения кредитов наблюдается среди семей с четырьмя детьми, возможно, из-за значительной финансовой нагрузки на семейный бюджет.

#### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
repayment_by_spouses = debtors.pivot_table(index=['family_status'], values='debt', aggfunc={'sum', 'count'}) 
repayment_by_spouses['share'] = round(repayment_by_spouses['sum'] / repayment_by_spouses['count'],3)
repayment_by_spouses.sort_values(by='share', ascending=True)

                       count  sum  share
family_status
вдовец / вдова           951   63  0.066
в разводе               1189   84  0.071
женат / замужем        12261  927  0.076
гражданский брак        4134  385  0.093
Не женат / не замужем   2796  273  0.098

***Вывод***

Высока вероятность своевременного возврата кредитов людьми, которые не состоят в браке, но имеют опыт семейной жизни в прошлом. Возраст, чувство ответственности и финансовая стабильность могут быть возможными причинами такого успеха. Те, кто состоит в браке, имеют хорошую, но не идеальную кредитную историю. Наличие детей и финансовые трудности могут быть факторами, влияющими на это. Гражданский брак и незамужние люди имеют самый низкий процент возврата кредитов. Причины могут быть разными: наличие детей, молодой возраст, недостаточный доход и так далее. В целом, существует взаимосвязь между этими факторами.

#### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
repayment_from_income = debtors.pivot_table(index=['total_income_category'], values='debt', aggfunc={'sum', 'count'}) 
repayment_from_income['share'] = round(repayment_from_income['sum'] / repayment_from_income['count'],3)
repayment_from_income.sort_values(by='share', ascending=True)

                       count   sum  share
total_income_category
D                        349    21  0.060
B                       5014   354  0.071
A                         25     2  0.080
C                      15921  1353  0.085
E                         22     2  0.091

***Вывод***

Самая высокая возвратность кредитов наблюдается у людей с доходом категории D. Вероятно, это связано с тем, что они не хотят получать штрафы, так как их доход может не покрывать их. Люди с доходом категории C также имеют низкий процент просрочки по кредитам, что может быть связано с их высоким уровнем ответственности и осознанностью в финансовых вопросах.
Интересно отметить, что у людей с высокими доходами вероятность несвоевременного возврата кредита относительно средняя. Это может быть связано с различными факторами, такими как наличие нескольких кредитов или другие обязательства. Люди с самыми низкими доходами категории E имеют наибольшую вероятность несвоевременного погашения кредита, что указывает на очевидную корреляцию между доходом и вероятностью несвоевременного погашения кредита.
Самые многочисленные категории — B с доходом от 200 тысяч до 1 миллиона и C с доходом от 50 тысяч до 200 тысяч. Люди с категорией B редко допускают просрочки, так как в эту категорию, вероятно, входят предприниматели и бизнесмены, чьи кредиты взяты на бизнес-цели, например, покупку коммерческой недвижимости. Соответственно, если и есть просрочки, то, скорее всего, у человека начались проблемы с получением прибыли или даже дело идёт к банкротству.
Люди с категорией C относительно часто допускают просрочки по кредитам. Можно предположить, что это категория людей с относительно низкой финансовой грамотностью, возможно, начинающие и мелкие предпринимателей, молодые IT-специалистов.

#### Как разные цели кредита влияют на его возврат в срок?

In [27]:
repayment_from_purpose = debtors.pivot_table(index=['purpose_category'], values='debt', aggfunc={'sum', 'count'}) 
repayment_from_purpose['share'] = round(repayment_from_purpose['sum'] / repayment_from_purpose['count'],3)
repayment_from_purpose.sort_values(by='share', ascending=True)

                          count  sum  share
purpose_category
операции с недвижимостью  10751  780  0.073
проведение свадьбы         2313  183  0.079
операции с автомобилем     4279  400  0.093
получение образования      3988  369  0.093

***Вывод***

Здесь прослеживается закономерность. У людей, которые хотят создать семью или купить жильё, вероятность своевременного погашения кредита выше, чем у тех, кто берёт потребительский кредит на меньшие суммы. Возможно, это связано с размером суммы кредита. Также люди, которые берут кредит на образование, чаще всего являются студентами (поскольку сейчас в России существуют специальные образовательные кредиты), которые не осознают степень ответственности и не учитывают свои финансовые возможности.

#### Возможные причины появления пропусков в исходных данных

В столбцах days_employed и total_income были обнаружены пропуски. Вероятно, это связано с человеческим фактором: некоторые люди могли неверно заполнить таблицу или отказаться предоставлять данные. Примечательно, что количество пропусков в обоих столбцах одинаково. Из этого можно сделать вывод, что возникновение пропусков в одном столбце могло повлиять на их появление в другом столбце.
Ещё одной возможной причиной возникновения пропусков могут быть технологические ошибки, такие как сбои при записи данных, копировании или считывании информации.

#### Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных

В этом случае медианное значение является наилучшим вариантом, поскольку данные могут иметь большой разброс, который искажает среднее арифметическое значение.

### Итоговый вывод

В ходе исследования надёжности заёмщиков были проанализированы полученные данные, устранены пробелы, удалены дубликаты, а клиенты разделены на группы по различным критериям. На основе проведённой работы можно сделать следующие выводы:


1. Люди, состоящие в официальном браке или бывшие ранее в официальном браке и не имеющие детей, берущие жилищный кредит, являются самыми ответственными заёмщиками.


2. Те, кто состоит в гражданском браке или не имеет отношений, при этом имея одного или двух детей, берущие кредит на свадьбу или образование, считаются наименее ответственными заёмщиками.


Для получения более чёткого представления о потенциальных заёмщиках и улучшения системы скоринга рекомендуется учитывать такие факторы, как возраст, место работы, должность, стаж в текущей компании и общий стаж работы (частая смена места работы может существенно повлиять на решение о выдаче кредита), а также законность трудоустройства.